{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
//       "classProperties": {
//         "loose": false
//       }
    }
  },
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
